<%- include('../layouts/headerUser.ejs') %>



    

<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">+</div>
    <ul class="offcanvas__widget">
        <li><a href="/wishlist"><span class="icon_heart_alt"></span>
           
        </a></li>
        <li><a href="/cart"><span class="icon_bag_alt"></span>
            
        </a></li>
    </ul>
 
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        
           <a class="dropdown-item" href="/logout">Logout</a>
          
    </div>
</div>



<!-- //////////////////////////////////// -->

<header class="header">
  <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
          <div class="col-lg-4 col-md-4 ">
              <div class="header__logo ml-3" >
                <a href="/" class="text-decoration-none"><span class="text-1000 text-dark fs-1 mt-3 fw-bold ms-2">FINITO</span></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-4">
              <nav class="header__menu row ">
                  <div class="col-2 ">
                      <a href="/">Home</a>
                  </div >
                  <div class="col-2">
                      <a class="" href="/shopPage">Shop</a>
                  </div>
                  <div class="col-2">
                      <a class="text-danger active" href="/userProfile">Profile</a>
                  </div>
              </nav>
          </div>
          <div class="col-lg-4 col-md-4 ">
              <div class="header__right row ">
                  <div class="header__right__auth col">
                      <div class="btn-group">
                          <ul class="header__right__widget mt-2 mr-3">
                              
                              <li><a href="/wishlist" data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist"><span class="icon_heart_alt"></span></a></li>
                              <li><a href="/cart" data-bs-toggle="tooltip" data-bs-placement="top" title="Cart"><span class="icon_bag_alt"></span></a></li>
                          </ul>
                          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                              data-bs-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" width="24"
                                  height="24" viewBox="0 0 24 24">
                                  <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                                      <path
                                          d="M16 9a4 4 0 1 1-8 0a4 4 0 0 1 8 0Zm-2 0a2 2 0 1 1-4 0a2 2 0 0 1 4 0Z" />
                                      <path
                                          d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11s11-4.925 11-11S18.075 1 12 1ZM3 12c0 2.09.713 4.014 1.908 5.542A8.986 8.986 0 0 1 12.065 14a8.984 8.984 0 0 1 7.092 3.458A9 9 0 1 0 3 12Zm9 9a8.963 8.963 0 0 1-5.672-2.012A6.992 6.992 0 0 1 12.065 16a6.991 6.991 0 0 1 5.689 2.92A8.964 8.964 0 0 1 12 21Z" />
                                  </g>
                              </svg>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                  <li><a class="dropdown-item" href="/logout">Logout</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="canvas__open">
          <i class="fa fa-bars"></i>
      </div>
  </div>
</header>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <form class="hallo" id="form" action="/changePassword" method="POST">
      <div class="form-outline mt-5 mb-4">
        <h4 class="mb-4">CHANGE PASSWORD</h4>
        <label class="form-label" for="form2Example1">Old password</label>
        <input name="oldPassword" type="password" id="form2Example1 oldPassword" class="form-control text-dark"/>
      </div>
    
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">New password</label>
        <input type="password" name="newPassword" id="form2Example1 newPasssword" class="form-control text-dark" />
        <small class="text-warning">Password requires 8 characters and contain Capital letter and small letter and number</small>
      </div>
    
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Re enter Password</label>
        <input type="password" name="Repassword" id="form2Example2 Repassword" class="form-control text-dark" />
      </div>
    
      <button type="submit" class="btn btn-primary btn-block mb-4">Reset Password</button>
        <small class="error text-danger"></small>
    </form>
    <%if(msg!=null){
      %>
      <script>
          new Swal({
          title: "Error!!",
          text: "<%=msg%>",
          icon: "error",
          showConfirmButton:false,
          timer:2000
        });
        </script>
      
    <%}%>
  </div>
</div>
</div>
</div>




<script>
    const form = document.getElementById('form');;
    const oldPassword = document.getElementById('form2Example1 oldPassword');
    const newPasssword = document.getElementById('form2Example1 newPasssword');
    const Repassword = document.getElementById('form2Example2 Repassword')
    const errorElement = document.querySelector('.error');

    form.addEventListener('submit', (e) => {
      let messages = [];
      if(oldPassword.value.trim().length === 0 && newPasssword.value.trim().length === 0 && Repassword.value.trim().length === 0){
        messages.push('Please fill all the forms');
      }else if (oldPassword.value.trim().length === 0) {
        messages.push('Old password is required');
      }else if (newPasssword.value.trim().length === 0) {
        messages.push('Please enter new password');
      }else if (Repassword.value.trim().length === 0) {
        messages.push('Please repeate your password');
      }else if(newPasssword.value!=Repassword.value){
        messages.push('Password not match')
      }
  
      if (messages.length > 0) {
        e.preventDefault();
        errorElement.innerText = messages.join(', ');
      }
    });
</script>
<%- include('../layouts/footerUser.ejs') %>