<%- include('../layouts/headerUser.ejs') %>

  <body class="img js-fullheight">
    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class=" col-md-4 text-center mt-5">
          <form action="/otpSubmitMail" method="post">
            <div class="form-login ">
              <div><br><a href="/" class="text-decoration-none">
                <span class="text-1000 text-white fs-1 mt-3 fw-bold ms-2">FINITO</span></a></div>
              <br><br>
              <input name="otp" type="password" class="form-control input-sm chat-input text-center"
                placeholder=" Enter Your OTP" />
              </br>
              <% if(typeof message!='undefined' ||typeof msg!='undefined' ){%>
                <small class="text-success txt-style">
                  <%= message %>
                </small>
                <small class="text-danger txt-style">
                  <%= msg %>
                </small>
                <%}%>
                  </br></br>
                  <div class="wrapper">
                    <span class="group-btn">
                      <button type="submit" class="btn btn-danger btn-lg txt-style">Submit OTP</button>
                    </span>
                  </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    </section>
  </body>


  <%- include('../layouts/footerUser.ejs') %>